In [2]:
import os
import pandas as pd
import numpy as np
from PIL import Image

In [28]:
def get_image_data(filename, flatten=False):
    img = Image.open('assets/' + filename)
    input_data = np.array(img)
    if flatten:
        input_data.flatten()
    car_id, color_id = filename[:-3].split('_')
    return input_data, car_id, color_id

In [37]:
df = pd.DataFrame(columns=['car_id','img','color_id'])
i = 1
for _, _, files in os.walk('assets'):
    for filename in files:
        if i < 10:
            data, car_id, color_id = get_image_data(str(filename))
            #print(data, car_id, color_id)
            df.append({'car_id':car_id, 'img':data, 'color_id':color_id})
            i += 1

In [39]:
df

Empty DataFrame
Columns: [car_id, img, color_id]
Index: []